html
{
background-image: url(https://images.unsplash.com/photo-1533750349088-cd871a92f312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
background-position: relative;
top:0;
left:0;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.heading
{
	background-color: black;
	color: white;
	text-align: center;
	height:45px;
	background-position: fixed;
	top:0;
	left: 0;
	padding: 10px 10px;
}
.content
{
	font-size: 21px;
	padding: 20px;
	font-family: Arial;
	justify-content: 10px;
	margin: 200px auto;
	width:50%;
	color: white;
	justify-content: center;
}